@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.Header {
    margin-top: 1%;
    width: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.border {
    box-sizing: border-box;
    border: 2px solid black;
    width: 95%;
    height: 87px;
    .heading {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        padding-left: 2.4%;
    }
}

